---
import ReactAccordion from '../Accordion/ReactAccordion';
import TableOfContents from './TableOfContents';
const { headings, githubEditUrl, lang } = Astro.props;

const docs = (await Astro.glob('../../pages/docs/*.{md,mdx}'));

const QUICKSTART = docs.filter(function(item){
    return item.frontmatter.cat == "quick-start";
})

const ADDREFERENCES = docs.filter(function(item){
    return item.frontmatter.cat == "add-references";
})

const OVERLEAFSETUP = docs.filter(function(item){
    return item.frontmatter.cat == "overleaf-setup";
})

const HOWTOS = docs.filter(function(item){
    return item.frontmatter.cat == "how-tos";
})

const BIBLATEX = docs.filter(function(item){
    return item.frontmatter.cat == "biblatex";
})

const BIBTEX = docs.filter(function(item){
    return item.frontmatter.cat == "bibtex";
})

const NATBIB = docs.filter(function(item){
    return item.frontmatter.cat == "natbib";
})

---

  
<nav>

   <div>

      <ReactAccordion label="Quick Start" client:load>

         <ul class="ova" >
            {QUICKSTART.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>

       <ReactAccordion label="Add References" client:load>
     
         <ul class="ova" >
            {ADDREFERENCES.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>
      
      <ReactAccordion label="Overleaf Setup" client:load>

         <ul class="ova" >
            {OVERLEAFSETUP.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>
      
      <ReactAccordion label="Howtos" client:load>

         <ul class="ova" >
            {HOWTOS.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>

      <ReactAccordion label="BibTex Basics" client:load>

         <ul class="ova" >
            {BIBTEX.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>

      <ReactAccordion label="BibLaTeX Basics" client:load>

         <ul class="ova" >
            {BIBLATEX.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>

      </ReactAccordion>

      <ReactAccordion label="Natbib Basics" client:load>

         <ul class="ova" >
            {NATBIB.map((doc) => (
            <li class="list">
               <a class="link" href={doc.url}>{doc.frontmatter.side}</a>
            </li>
            ))}
         </ul>
         
      </ReactAccordion>

   </div>

</nav>

<style>
   .list{
   font-size: 14px;
   list-style: none;
   margin-bottom: 6px;
   }
   .ova{
   padding: 5px;
   }
   .link{
   text-decoration: none;
   }
</style>
