---
import Accordion from '../components/Accordion/Accordion.astro';
import CTA from '../components/CTA.astro';
import FeatureListItem from '../components/FeatureList/FeatureListItem.astro';
import InternalLink from '../components/InternalLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/index.css';
import '../styles/theme.css';
import json from '../JSON/index.en.json';

// const testimonials =[
//    {
//       "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//       "author":"Josh (Standford)"
//    },
//    {
//       "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//       "author":"gosh (MIT)"
//    },
//     {
//        "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//        "author":"Josh (Standford)"
//     },
//     {
//        "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//        "author":"gosh (MIT)"
//     },
//      {
//         "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//         "author":"Josh (Standford)"
//      },
//      {
//         "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
//         "author":"gosh (MIT)"
//      },

// ]

---

<BaseLayout title="Welcome to CiteDrive" lang="en" site>

   <div class="container grid" style="--gap: 5rem; margin-bottom: 5rem;"> 

   <section class="grid" style="place-items: center;">
      <div class="grid" style="place-items: center; --gap: 22px">
      <i class="eyebrow">Add Eyebrow</i>
      <h1 class="h1-landing letter-spacing-h1 letter-spacing-text" style="margin-bottom: 0 !important;">{json.hero.heroTitle}</h1>
      <p class="subtitle-landing-page" style="margin-bottom: 0 !important; max-width: 66ch;">{json.hero.heroSubtitle}</p>
      <CTA label={json.hero.heroBtn} />
      <p><InternalLink link="#" label="Overleaf"></InternalLink>, <InternalLink link="#" label="RStudio"></InternalLink> and <InternalLink link="#" label="Quarto"></InternalLink> are great options for getting started.</p>
      </div>
   </section>

   <!-- <section class="testimonials">
      // todo: university list 
      {testimonials.map((testimonial) => (
      <div>
         <span>{testimonial.feedback}</span>
         <span>{testimonial.author}</span>
      </div>
      ))}
   </section> -->

   <section class="video">

   </section>

   <section class="features grid">

   <div class="grid" style="place-items: center;">
   <h2 class="fs-h2 text-accent">Streamline Your Bibliographic Research</h2>
   <!-- <p style="max-width: 75ch;">CiteDrive streamlines bibliographic management by being laser-focused and reducing clicks and general tedium. We focus on one thing and do it great - not being an “everything for everyone” reference management tool.  
   </p>
   -->
   </div>
   

   <div>

   <FeatureListItem 
      radius="radius-top" 
      title="Cite in Context" 
      text="Use the CiteDrive Companion browser add-on to seamlessly collect references as you conduct research across popular platforms including Google Scholar and Pubmed, or even non-DOI websites– all without leaving the page." 
      link="https://chrome.google.com/webstore/detail/citedrive-bibtex-companio/gmmonfphegngpcbcapfbgembkjeookik"
      linklabel="CiteDrive Companion for Chrome"
      icon="../../public/assets/Decoration/SVG/Quote.svg"
   />

   <FeatureListItem 
      title="Connect your bibliography" 
      text="CiteDrive links with Overleaf and RStudio seamlessly. When you or your teammates alter your project, the BiBTeX .bib file will automatically update your bibliography in your Overleaf or RStudio project if you use CiteDrive to manage it." 
      link="#"
      linklabel="Get started with Overleaf"
      icon="../../public/assets/Decoration/SVG/Connect.svg"
   />

    <FeatureListItem 
      title="Compose in your Browser" 
      text="Access your project from any browser. No more software to install, licenses to track, or clunky upgrades. You can make changes on the go, collaborate with team members in real time, and never worry about losing your work." 
      icon="../../public/assets/Decoration/SVG/Browser.svg"
   />

   <FeatureListItem 
      title="Collaborate Seamlessly" 
      text="Add collaborators to your CiteDrive project with a couple of clicks. Collect references, revise and generate citations together and stop sharing stale bibliography files and databases." 
      icon="../../public/assets/Decoration/SVG/Collab.svg"
   />

    <FeatureListItem 
      title="BibTeX empowered" 
      text="Do you keep your bibliography in a big text file? If that’s the case, CiteDrive is for you, with a user interface to go alongside it. We didn’t build CiteDrive as an afterthought for BibTeX users; we built it with them in mind." 
      icon="../../public/assets/Decoration/SVG/Bib.svg"
   />

    <FeatureListItem 
      title="Customize" 
      text="Want to leverage extended BibLaTeX or your OWN? bespoke fields? Customize your BibTeX code as you see fit while collecting and editing references, rather than BibTeX support as an afterthought. With our in-built editor, you handle your bibliography, not with opinionated forms." 
      icon="../../public/assets/Decoration/SVG/Edit.svg"
   />

   <FeatureListItem 
      radius="radius-bottom"
      title="Control and Error-Handling" 
      text="CiteDrive will notify you if your format is erroneous and there are duplicate papers so that you can collaborate without interfering with one another." 
      icon="../../public/assets/Decoration/SVG/Error.svg"
   />

   </div> 
   
   </section>

    <section class="grid" style="place-items: center;">
      <div class="grid" style="place-items: center; --gap: 22px">
      <h1 class="h1-landing letter-spacing-h1 letter-spacing-text" style="line-height: 100%">Pipeline Your Research Data</h1>
      <CTA label="LET's .bib YOUR FIRST PROJECT" />
      <p><InternalLink link="#" label="Overleaf"></InternalLink>, <InternalLink link="#" label="RStudio"></InternalLink> and <InternalLink link="#" label="Quarto"></InternalLink> are great options for getting started.</p>
      </div>
   </section>

</div>


</BaseLayout>


<style>

.video {
   width: 100%;
   height: 600px;
   box-shadow: 1px 2px 4px grey;
   background-color: white;
   border-radius: var(--border-radius);
}

.stream {
   padding: 3.5rem 0;
   background-color: gainsboro;
}

</style>
