---
import Header from '../components/header/Header.astro';
import DocHeader from '../components/header/DocHeader.astro';
import BlogHeader from '../components/header/BlogHeader.astro';
import Footer from '../components/footer/Footer.astro';
// import CookieConsent from '../components/CookieConsent.astro';
import { SITE } from "../config.ts"
import '../styles/index.css';
import '../styles/theme.css';
interface Props {
  lang?: string;
  desc?: string;
  title?: string;
  type?: string;
  thumbnail?: string;
  site?: boolean;
  doc?: boolean;
  blog?: boolean;
//   schemaHomepage?: object;
//   schemaOverleaf?: object;
//   schemaBlog?: object;
//   schemaBlogPost?: object;
}
const { title, lang, dir, description, type, frontmatter, headings, site, doc, blog } = Astro.props;
---

<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>{title} | CiteDrive - Citation and Bibliographic management for Overleaf and RStudio</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={type} />
    <meta property="twitter:card" content={type} />
    <meta property="twitter:site" content="CiteDrive" />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:title" content={title} />
    <link rel="canonical" href={SITE.url + Astro.url.pathname} />
    <!-- import fonts here -->

</head>

<body>
<>
{site && <Header />}
{doc && <DocHeader />}
{blog && <BlogHeader />}

 <main style="margin-top: 6.5rem">
            <slot />
            <!-- <CookieConsent /> -->
</main>
{site && <Footer />}
{blog && <Footer />}
</>
</body>
</html>
