---
import { GoogleAnalytics } from 'astro-analytics';
import Header from '../components/header/Header.astro';
import DocHeader from '../components/header/DocHeader.astro';
import BlogHeader from '../components/header/BlogHeader.astro';
import Footer from '../components/footer/Footer.astro';
// import CookieConsent from '../components/CookieConsent.astro';
import { SITE } from "../config.ts"
import '../styles/index.css';
import '../styles/theme.css';
interface Props {
  lang?: string;
  desc?: string;
  title?: string;
  type?: string;
  description?: string; 
  thumbnail?: string;
  site?: boolean;
  doc?: boolean;
  blog?: boolean;
//   schemaHomepage?: object;
//   schemaOverleaf?: object;
//   schemaBlog?: object;
//   schemaBlogPost?: object;
}
const { title, lang, dir, description, type, frontmatter, headings, site, doc, blog } = Astro.props;

const TITLE_TAG = typeof title !== "undefined"
  ? title + " | CiteDrive - Citation and Bibliographic management for Overleaf and RStudio"
  : "UNTITLED | CiteDrive - Citation and Bibliographic management for Overleaf and RStudio";

  const TYPE_TAG = typeof title !== "undefined"
    ? type
    : "website";

const DESCRIPTION_TAG =
  typeof description !== "undefined"
    ? description
    : "Read more about " +
      "'" +
      title +
      "' | CiteDrive - BibTeX-supported citation and reference management for your bibliographies on Overleaf and RStudio";
---

<html lang={lang} dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{TITLE_TAG}</title>
    <meta name="description" content={DESCRIPTION_TAG} />

    <meta property="og:locale" content={lang}/>
    <meta property="og:title" content={TITLE_TAG} />
    <meta property="og:description" content={DESCRIPTION_TAG} />
    <meta property="og:type" content={type} />
    <meta property="og:url" content="https://citedrive.com/"/>
    <meta property="og:site_name" content="CiteDrive"/>

    <meta property="og:image" content="https://www.citedrive.com/assets/theapp.png"/>
    <meta property="og:image:width" content="1260"/>
    <meta property="og:image:height" content="628"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@CiteDrive"/>
    <meta name="twitter:site" content="@CiteDrive"/>

    <link rel="canonical" href={SITE.url + Astro.url.pathname} />
    <!-- import fonts here -->

    <GoogleAnalytics id="G-B4P7HQL1R8" />

</head>

<body>
<>
{site && <Header />}
{doc && <DocHeader />}
{blog && <BlogHeader />}
 <main style="margin: 6.5rem 0;">
            <slot />
            <!-- <CookieConsent /> -->
</main>
{site && <Footer />}
{blog && <Footer />}
</>
</body>
</html>
