---
import BaseLayout from './BaseLayout.astro';
const { title, lang, dir, frontmatter, headings } = Astro.props;
import RightSidebar from '../components/docs/RightSidebar.astro';
import LeftSidebar from '../components/docs/LeftSidebar.astro';
import '../styles/markdown.css';
import ReactAccordion from '../components/Accordion/ReactAccordion';
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}  lang={frontmatter.lang} doc={true}>

   <div>

   <section class="grid">

      <aside class="left" style="position: fixed;">
         <h4 style="margin-bottom: 1rem; font-weight: 500; color: hsl(var(--clr-secondary));;">In this doc</h4>
         <div class="leftSideBar">
         <LeftSidebar lang={lang ?? frontmatter.lang} />
         </div>
      </aside>

      <article class="article" >
         <div class="mobileAnchor">
               <ReactAccordion label="On this page" isOpen={true} client:load>
                  <div style="margin-top: .75rem;">
                     <RightSidebar headings={headings} githubEditUrl={"githubEditUrl"} />
                  </div>
               </ReactAccordion>
            </div>

         <div>
            <slot />
         </div>
      </article>

      <aside class="rightSidebar">
         <h4>On this page</h4>
         <RightSidebar headings={headings} githubEditUrl={"githubEditUrl"} />
      </aside>

      </section>

   </div>

</BaseLayout>


<style>

.left {
   display: none;
}

.rightSidebar{
    display: none;
}

.mobileAnchor {
   margin-bottom: 2rem;
}


.article{
   padding-inline: 1rem;
   margin-inline: auto;
   width: 100%;
   max-width: 75ch;
}

@media only screen and (min-width: 1280px) {

   .grid {
      display: grid;
      box-sizing: border-box;
      grid-template: "sb main ab" / 260px 1fr 300px;
      padding-inline: 2rem;
   }

   .article {
      grid-area: main;
      margin-top: 2rem;

   }

   .left {
      display: block;
   }

   .leftSideBar{
      overflow-x: hidden;
      width: 260px;
      height: calc(100vh - 120px);
   }

   .rightSidebar{
      width: 300px;
      display: block;
      position: fixed;
      right: 2rem;
   }

   .mobileAnchor {
      display: none;
  }

}

</style>
